<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GreenTea Leaf</key>
	<string>http://www.sxc.hu/pic/m/o/ou/outer/22804_greentea_leaf.jpg</string>
	<key>Maya</key>
	<string>http://www.sxc.hu/pic/m/r/ra/ralu/120621_maya_ruins4.jpg</string>
	<key>Cliff</key>
	<string>http://www.sxc.hu/pic/m/b/bo/bonvivant/197421_cliff2.jpg</string>
	<key>Coliseu de Roma</key>
	<string>http://www.sxc.hu/pic/m/r/re/renato2004/243221_coliseu_de_roma.jpg</string>
	<key>Winter</key>
	<string>http://www.sxc.hu/pic/m/u/u_/u_01_c/310610_winter.jpg</string>
	<key>Japanese Garden</key>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311933_japanese_garden.jpg</string>
	<key>Shoji Screen</key>
	<string>http://www.sxc.hu/pic/m/c/ca/capetan/311935_shoji_screen.jpg</string>
	<key>Big Fella</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325616_big_fella.jpg</string>
	<key>Mother &amp; Child</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325618_mother_and_child.jpg</string>
	<key>Wild Beas</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325620_wildebeest.jpg</string>
	<key>Zebra</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/325621_zebra.jpg</string>
	<key>Picture of Contentment</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/329656_picture_of_contentment.jpg</string>
	<key>Cheetah</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/329660_cheetah_1.jpg</string>
	<key>Three Giraffes</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/332367_three_giraffes.jpg</string>
	<key>Lions Dining</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/332370_lions_dining.jpg</string>
	<key>Springbok</key>
	<string>http://www.sxc.hu/pic/m/n/ng/ngould/332373_springbok_1.jpg</string>
	<key>Mexican 1</key>
	<string>http://www.sxc.hu/pic/m/m/ma/malamantra/427679_mexican_1.jpg</string>
	<key>Sandy Cape Light House</key>
	<string>http://www.sxc.hu/pic/m/j/jo/joymad/458367_sandy_cape_light_house.jpg</string>
	<key>Mozambique 2</key>
	<string>http://www.sxc.hu/pic/m/m/mi/mikevam/462659_mozambique_2.jpg</string>
	<key>Muizenberg</key>
	<string>http://www.sxc.hu/pic/m/a/an/anniepie/482596_muizenberg.jpg</string>
	<key>Lago todos los santos</key>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489872_lago_todos_los_santos.jpg</string>
	<key>Camino al volcan</key>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489892_camino_al_volcan_.jpg</string>
	<key>Volcan y saltos</key>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489901_volcan_y_saltos.jpg</string>
	<key>Volcan y lago</key>
	<string>http://www.sxc.hu/pic/m/r/ro/rockberto/489914_volcan_y_lago.jpg</string>
	<key>Santorini</key>
	<string>http://www.sxc.hu/pic/m/a/an/andymel/493251_santorini.jpg</string>
	<key>Foreign Minestry</key>
	<string>http://www.sxc.hu/pic/m/j/jc/jcanistrum/511673_foreign_minestry.jpg</string>
	<key>Maya Ruines in Copán Ruinas 2</key>
	<string>http://www.sxc.hu/pic/m/k/ke/kevdaguru/526151_maya_ruines_in_copn_ruinas_2.jpg</string>
	<key>Rome</key>
	<string>http://www.sxc.hu/pic/m/w/wo/wooglin/542791_rome.jpg</string>
	<key>Dobra voda castle</key>
	<string>http://www.sxc.hu/pic/m/f/fi/firhang/557984_dobra_voda_castle.jpg</string>
	<key>Golden Thai temple</key>
	<string>http://www.sxc.hu/pic/m/g/go/goodgbb/579493_golden_thai_temple.jpg</string>
	<key>Monkey</key>
	<string>NO URL</string>
	<key>Flying Taxi</key>
	<string>NO URL</string>
	<key>Cute Monkey</key>
	<string>NO URL</string>
	<key>Chocolate House</key>
	<string>NO URL</string>
	<key>New Bikini</key>
	<string>https://media.istockphoto.com/photos/sometimes-you-have-to-be-your-own-inspiration-picture-id514648550?s=2048x2048</string>
	<key>Teen Girl</key>
	<string>https://media.istockphoto.com/photos/teenager-girl-listening-music-picture-id537686710?s=2048x2048</string>
	<key>New item</key>
	<string>https://images.freeimages.com/images/large-previews/b1c/beach-girl-1368033.jpg</string>
	<key>New item - 2</key>
	<string>https://images.freeimages.com/images/large-previews/aa1/shape-1186318.jpg</string>
	<key>New item - 3</key>
	<string>https://media.istockphoto.com/photos/portrait-of-three-female-friends-enjoying-beach-vacation-together-picture-id928410788?s=2048x2048</string>
	<key>New item - 4</key>
	<string>https://images.freeimages.com/images/large-previews/2b3/shoot-1433504.jpg</string>
</dict>
</plist>
